# Maven
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Hassas bilgiler - GitHub'a gitmesin!
src/main/resources/application.properties
src/main/resources/application-prod.properties
src/main/resources/application-local.properties

# Bunları repoya ekle (şifresiz örnek dosya)
!src/main/resources/application-example.properties

# Loglar
*.log
logs/

# Ortam değişkenleri
.env
.env.local

# İşletim sistemi
.DS_Store
Thumbs.db

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Docker
docker-compose.override.yml